html{
	
}
body{
	background-color: #E0AAFF;
	margin: 0 auto;
	height:200vh;
	


}
nav{
	height:auto;
	background-color:#C77DFF;
	width: 100%;
	margin: 0,0,0,0;
	/*background-image: linear-gradient(to top, rgba(157, 78, 221,0), rgba(157, 78, 221,1));*/
	position: fixed;
	top:0;
}

.howdy{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size:32px;
	text-align: left;
	color:white;
	padding: 24px 0px 24px 24px;

}
.container{
	margin:auto;
	
	text-align: center;
}

.video{
/*width: 100%    !important;
  height: auto   !important;*/
  display: block;
  margin: auto;
}
.content{
	
	display: block;
	text-align:center;
	box-sizing: border-box;
	margin-top: 150px;
	/*margin-left:10%;
	margin-right:10%;*/
	margin:100 auto;

}

}
.titleloop{
	height:200px;
}